<div class="contents row" >
    <% @articles.each do |article| %>

  <div class="content_post">
    <a href=""><span></span><%= article.user.name %></a>

    <% if user_signed_in? && current_user.id == article.user_id %>
         <div class="more">

           <ul class="more_list">
             <li>
               <%= link_to '削除', "/articles/#{article.id}", method: :delete %>
             </li>
           </ul>
         </div>
       <% end %>

    <div class=""><img src="<%= article.image %>"></div>
    <%= simple_format(article.text) %>
  </div>
    <% end %>
  <%= paginate(@articles) %>
</div>
